<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href = '/static/css/signup.css'>
</head>
<body style="background-image: url({% static 'img/signup.jpg' %}); background-size: cover">
    <div class="div-form">
        <h1>Please log in</h1>
        <form method="POST" class="form">
            {% csrf_token %}
            Username: <input type="text" name="username"/><br/>
            Password: <input type="password" name="password"/><br/>
            <input class="gradient-button" type="submit" value="Login"/>
        </form>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
    <a style="position: absolute;" class="gradient-button" href="{% url 'signup' %}">Sign Up</a>
</body>
</html>