<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All rifles</title>
    <link rel="stylesheet" type="text/css" href="/static/css/rifle_list.css">
</head>
<body style="background-image: url({% static 'img/rif.jpg' %}); background-size: cover">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <div class = "greetings" style="position: absolute; left:80%; background-color: #48D1CC; width:385px; height: 45px; margin-top: -8px">
            <h2 style="color: black; margin-top: 10px; margin-left: 50px;">Hello, {{ request.user.username }}! <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></h2>
        </div>
    {% else %}
        <div class = "greetings" style="position: absolute; left:80%; background-color: #48D1CC; width:385px; height: 45px; margin-top: -8px">
            <h2 style="color: black; margin-top: 10px; margin-left: 50px;">Hello, Guest! <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
            or <a href="{% url 'signup' %}">sign up</a></h2>
        </div>
    {% endif %}
    <div class="three"><h1>Rifles</h1></div>
    <ol class="rounded">
        {% for i in data %}
            <li><a href="/rifles/{{ i.title }}">{{ i.title }}</a></li>
        {% endfor %}
    </ol>
    <div class="div-form">
        <a href="../hello" class="gradient-button">Main page</a>
    </div>
</body>
</html>